@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    //position: relative;
    box-sizing: border-box;
    user-select: none;
}


@mixin common{
        position: absolute;
        content: " ";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgba(199, 198, 198, 0.171), rgba(221, 221, 221, 0.151));
        animation: LineSweep 2s ease-in infinite;
}

@mixin commonButtonSlide{
    position: absolute;
    content: " ";
    height: 200%;
    width: 100%;
    top: 50%;
    left: -100%;
    transform: translateY(-50%) rotate(45deg);
    background: #fff;
}


body {
    padding: 0px;
    margin: 0px;
    background: #f3f1f9;
    color: #333b6a;
}

.App{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0px 20px;
    background: #f3f1f9;
}

.NavBar{
    margin: 0px auto;
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: grid;
    //background: #1976D2;
    color: rgb(17, 17, 17);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 0px;
    min-width: 0px;
   
    & > *{
        overflow: hidden;
    }
    & div.LogoText{
        position: relative;
        width: 200px;
        height: 70px;
        justify-self: start;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        grid-row-gap: 5px;
        overflow: visible;

        & h1 {
            position: relative;
            padding: 0px;
            font-size: 30px;
            align-self: baseline;
            font-weight: 800;
            overflow: visible;

            &:after{
                position: absolute;
                content: ' ';
                width: 60px;
                height: 5px;
                background: #E20098;  
                //border-radius: 2px;
            }
            &:after{
                bottom: -3px;
                left: 0px;
            }

            & span.LogoFirstHalf{
                color: #0f4c9b;
            }

            & span.LogoSecondHalf{
                color: #E20098;
            }
        }
    }
}

div.graphiqlButton{
    margin: 0px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: end;
    align-items: center;
    & button {
        position: relative;
        overflow: hidden;
        align-self: center;
        // margin-left: 41px;
        grid-area: auto;
        width: auto;
        height: 42px;
        border: none;
        background: #fff;
        outline: none;
        border-radius: 4px;
        //border: 1px solid #ddd;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 700;
        text-transform: uppercase;
        color: #333b6a;
        background: #E20098; 
        color: #fff;
        letter-spacing: 0.5px;
        overflow: hidden;
        font-size: 30px;
        display: flex;
        align-items:center;
        &:active{
            outline: none;
        }
        &::after{
            position: absolute;
            content: " ";
            height: 350%;
            width: 30%;
            top: 50%;
            left: -50%;
            transform: translateY(-50%) rotate(45deg);
            background: linear-gradient(to right, #fff, rgb(247, 245, 245));
            transition: left .3s ease-in;
        }
        &:hover::after{
            left: 130%;
        }
        & span{
            font-size: 14px;
        }
    }
} 

.Information{
    position: relative;
    margin: 20px auto 0px auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 0px;
    padding: 20px 15px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 3px #ddd;
    & h1 {
        padding: 0px;
        font-size: 22px;
        //text-decoration: underline;
        //font-weight: 800;
        color: #0f4b9b;
        color: #2a325c;
        color: #E20098;
        color: #0f4c9b;
       // text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
        width: max-content;
    }
    & h1.I_h1_2{
        margin-top: 5px;
    }
    & p{
        font-size: 17px;
        font-weight:600;

        & strong {
            color: #E20098;
            text-decoration: underline;
            
            &:hover {
                text-decoration: none;
            }
        }
    }

}

.Toggle{
    margin: 20px auto 0px auto;
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    & button.Toggle_Button{
        position: relative;
        border: 0px solid #fff;
        border-bottom: 5px solid #ddd;
        outline: none;
        width: 100%;
        height: 100%;
        background: #fff;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        //color: #0f4b9b;
        color: rgb(196, 196, 196);
    }

}

.TopRow{
    overflow: hidden;
    position: relative;
    padding: 15px;
    margin: 20px auto 0px auto;
    width: 100%;
    height: auto;
    border-radius: 4px;
    //border: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    min-height: 0;
    min-width: 0;
    background: #fff;
    & div.TopRow_first{
        grid-area: 1/1/2/3;
        display: grid;
        height: auto;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 10px;
        & div.T_first_div{
            display: flex;
            height: 32px;
            width: 32px;
            justify-content: center;
            align-items:center;
            border-radius: 50%;
            background: rgba(255,188,33,.24);
            font-size: 26px;
            color:#fff;
            & svg {
                //height: 50%;
                //width: 50%;
                fill: #ffbc21;
            }
        }

        & p {
            color: #3a426b;
            color:#0f4c9b;
            font-size: 18px;
            font-weight: 800;
            align-self: center;
        }
    }
    & div.TopRow_second{
        margin-top: 10px;
        height: auto;
        grid-column:  1 /span 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;


        & P {
            //margin-left: 42px;
            margin-left: 0px;

            & span {
                font-weight: 700;
                font-size: 18px;
            }
        }

        & div.T_RadioFilterDiv{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-auto-rows: auto;
            align-items: center;
            grid-row-gap: 5px;
            grid-column-gap: 10px;
            & input {
                height: 15px;
                width: 15px;
                cursor: pointer;
                background: #0f4c9b;

                &::active{
                    color:#0f4c9b;
                    background: #0f4c9b;
                }
            }
            & label {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    & div.T_CPBDIV{
        position: relative;
        width: 100%;
        height:65px;
        display: grid;
        margin-top: 10px;

        & p.btnToolTip{
            opacity: 0;
            position: absolute;
            left: 0;
            top: -42px;
            height: auto;
            min-width: 100px;
            padding: 10px;
            background: #fff;
            color: #333b6a;
            border: 3px solid #0f4c9b;
            border-radius: 4px;
            animation: toolTipOpacity .5s ease-in forwards;
            font-weight: 600;

            &::after{
                z-index: 99;
                position: absolute;
                content: " ";
                bottom: -20px; 
                left: 5px;
                border-width: 10px;
                border-style: solid;
                border-color: #0f4c9bfb transparent transparent transparent;
            }
        }

        & button {
            position: relative;
            overflow: hidden;
            align-self: center;
            // margin-left: 41px;
            grid-area: auto;
            width: 150px;
            height: 42px;
            border: none;
            background: #fff;
            outline: none;
            border-radius: 4px;
            //border: 1px solid #ddd;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #333b6a;
            background:#0f4c9b;
            color: #fff;
            letter-spacing: 0.5px;
            overflow: hidden;
            &:active{
                outline: none;
            }
            &::after{
                position: absolute;
                content: " ";
                height: 250%;
                width: 30%;
                top: 50%;
                left: -50%;
                transform: translateY(-50%) rotate(45deg);
                background: linear-gradient(to right, #fff, rgb(247, 245, 245));
                transition: left .3s ease-in;
            }

            &:hover::after{
                left: 130%;
            }

        }
    }
    // CREATE NEW POST FORM
    div.PostFormContainer{
        overflow: hidden;
        position: relative;
        grid-column: 1 / span 2;
        min-height: auto;
        margin-top: 15px;
        height: auto;
        & form{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-row-gap: 10px;
            // common styles;

            & p {
                font-size: 16px;
                color: red;
            }
            & input, & textarea{
                font-size: 16px;
                padding: 10px;
                height: 45px;
                width: 100%;
                border: 0px;
                outline: none;
                border: 1px solid rgba(221, 221, 221, 0.63);
                border-radius: 4px;
                color: #333b6a;
                
            }

            & textarea{
                resize: none;
                height: 100px;
                width: 100%;
            }

            & input.fileInput{
                position: relative;
                height: 45px;
                background: #fff;
                border: none;
                &:active{
                    outline: none;
                }

                &::before{
                    content: "Select file";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0px;
                    height: 42px;
                    width: 108px;
                    background: #fff;
                    //border: 1px solid #ddd;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    cursor:pointer;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    background: #0f4c9b;
                }
            }
            & div.PF_buttonCon{
                margin-top: 15px;
                margin-bottom: 10px;
                width: 100%;
                height: 42px;
                display: grid;
                grid-template-columns: min-content max-content;
                grid-template-rows: 1fr;
                grid-column-gap: 10px;
                & button {
                    overflow: hidden;
                    position: relative;
                    padding: 10px;
                    width: 110px;
                    height: 100%;
                    border: none;
                    background: #fff;
                    outline: none;
                    border-radius: 4px;
                    padding: 5px 10px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    background: #0f4c9b;
                    color: #fff;

                    &::after{
                        position: absolute;
                        content: " ";
                        height: 250%;
                        width: 30%;
                        top: 50%;
                        left: -60%;
                        transform: translateY(-50%) rotate(45deg);
                        background: linear-gradient(to right, #fff, rgb(247, 245, 245));
                        transition: left .3s ease-in;
                    }
        
                    &:hover::after{
                        left: 130%;
                    }
                } 

                & button.closeLineBtn{
                    border: 3px solid #0f4c9b;
                    background: #fff;
                    color: #0f4c9b;
                    transition: all 0.3s ease-in;
                    &:hover {
                        background: #0f4c9b;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// additional transitoin class
.toolTipOpactiy{
    opacity: 1 !important;
}

@keyframes toolTipOpacity {
    0%{}
    100%{
        opacity: 1;
    }
}

div.PostCard{
    padding: 0px;
    list-style-type: none;
    margin: 25px auto 100px auto;
    height: auto;
    width: 100%;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-row-gap: 15px;
    overflow: hidden;

    & p.message{
        font-size: 16px;
    }
    & ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 15px;
        width: 100%;
        list-style-type: none;
        & li.PostCard_PostList{
            position: relative;
            max-width: 380px;
            justify-self: start;
            align-self: start;
            overflow: hidden;
            background: #fff;
            padding-bottom: 15px;
            width: 100%;
            min-height: 0px;
            min-width:0px;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            //border: 1px solid rgba(221, 221, 221, 0.712);
            border-radius: 4px;
            border-bottom: 5px solid #ddd;
            transition: border-bottom 0.3s ease-in, 
                        margin-top 0.2s ease-in,
                        box-shadow 0.2s ease-in;
    
            &:hover {
                margin-top: 0px;
                border-bottom: 5px solid #0f4c9b;
                box-shadow: 0px 0px 5px #0f4c9b44;
            }
            & div.Picture{
                width: 100%;
                height: 150px;
                overflow: hidden;
                border-bottom: 1px solid rgba(221, 221, 221, 0.527);
    
                & div.lazyLoading{
                    position: relative;
                    overflow: hidden;
                    background: rgba(199, 198, 198, 0.473);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 50px;
                    height: 100%;
                    width: 100%;
    
                    &::after{
                      @include common;
                    }
                }
                & img {
                    max-width: 100%;
                    margin: auto;
                    display: block;
                }
            }   
            & div.PostButtons{
                height: 60px;
                padding: 0px 15px;
                padding-bottom: 0px;
                display: grid;
                grid-template-columns: max-content max-content;
                grid-column-gap: 10px;
                align-items: center;
    
                & button.PostButtons_button{
                    position: relative;
                    overflow: hidden;
                    width: 110px;
                    height: 42px;
                    padding: 5px 10px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 700;
                    border:none;
                    text-transform: uppercase;
                    background: #0f4c9b;
                    color: #fff;
                    letter-spacing: 0.5px;
                    overflow: hidden;
                    border-radius: 4px;
                    outline: none;
                    &::after{
                        position: absolute;
                        content: " ";
                        height: 250%;
                        width: 30%;
                        top: 50%;
                        left: -60%;
                        transform: translateY(-50%) rotate(45deg);
                        background: linear-gradient(to right, #fff, rgb(247, 245, 245));
                        transition: left .3s ease-in;
                    }
        
                    &:hover::after{
                        left: 130%;
                    }
                }
                & button.deleteBtn{
                    background: #F44336   !important;
                }
    
    
            }
            & div.Description{
                padding: 15px;
                padding-bottom: 0px;
                width: 100%;
                height: auto;
                min-height: 100px;
               // border: 1px solid red;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                grid-row-gap: 5px;
                & h3 {
                    margin-top: -10px;
                    font-size: 15px;
                    font-weight: 700;
                    color: #0f4c9b;
                    color: #000;
                    color: #333b6a;
                }
                & h1 {
                    font-size: 22px;
                    font-weight: 700;
                    color: #0f4c9b;
                    color: rgba(0, 0, 0, 0.842);
                    color: #333b6a;
                    text-transform: uppercase;
                }
                & p {
                    padding: 0px;
                    margin: 0px;
                    margin-top: 0px;
                    font-size: 16px;
                    overflow-wrap: break-word !important;
                }
                & p.errorMessage{
                    color: red !important;
                }
                & textarea{
                    border: 0px;
                    outline: none;
                    border: 1px solid rgba(221, 221, 221, 0.63);
                    border-radius: 4px;
                    color: #333b6a;
                    padding: 5px;
                    margin: 0px;
                    margin-top: 0px;
                    font-size: 16px;
                    resize: none;
                    height: auto;
                    width: 100%;
                    min-height: 200px;
                }
            }
    
        }
    }
    & ul.PostCard_secondColumn{
        display: none;
    } 
    
}

// ACCOUNT //
div.alreadyIn{
    position: relative;
    margin: 25px auto 150px auto;
    width: 100%;
    height: auto;
    overflow: hidden; 
    border-radius: 4px;
    padding: 25px 25px;
    background: #fff;
    display: grid;
    grid-template-columns: 180px 120px;
    grid-column-gap: 10px;
    align-items: center;

    & p {
        font-size: 16px;
    }
    & button.logoutButton{
        position: relative;
        overflow: hidden;
        border: none;
        height: 42px;
        width: 110px;
        padding: 0px 15px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background: #0f4c9b;
        color: #fff;
        outline: none;

        &:hover {
            outline: none;
        }
    } 
}
div.Form{
    position: relative;
    margin: 25px auto 150px auto;
    width: 100%;
    height: auto;
    overflow: hidden; 
    border-radius: 4px;
    padding: 25px 25px;
    background: #fff;
    & button.logoutButton{
        position: relative;
        overflow: hidden;
        border: none;
        height: 42px;
        width: 110px;
        padding: 0px 15px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background: #0f4c9b;
        color: #fff;
        outline: none;

        &:hover {
            outline: none;
        }
    }   
}

div.Form form.LoginForm{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    min-width: 0px;
    min-height: 0px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    background: #fff;

    & > * {
        overflow: hidden;
    }

    & p.errorMessageP{
        font-size: 16px;
        color: red;
    }
    & input{
        padding: 10px;
        height: 45px;
        width: 100%;
        border: 0px;
        outline: none;
        font-size: 16px;
        border: 1px solid rgba(221, 221, 221, 0.63);
        color: #333b6a;
        background: #fff;
        border-radius: 4px;
    }

    & div{
        margin-top: 5px;
        height: 45px;
        width: 100%;
        border: 0px;
        outline: none;
        padding: 0px;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-column-gap: 10px;

        & button{
            position: relative;
            overflow:hidden;
            border: none;
            height: 42px;
            width: 110px;
            padding: 0px 15px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            background: #0f4c9b;
            color: #fff;
            outline:none;
            &::after{
                position: absolute;
                content: " ";
                height: 250%;
                width: 30%;
                top: 50%;
                left: -65%;
                transform: translateY(-50%) rotate(45deg);
                background: linear-gradient(to right, #fff, rgb(247, 245, 245));
                transition: left .3s ease-in;
            }

            &:hover::after{
                left: 130%;
            }
        }

        & button.Login_link, & button.Register_link{
            font-size: 14px;
            font-weight: 700;
            border: none;
            text-decoration: underline;
            color:#0f4c9b;
            outline: none;
            background: #fff;
            border: 3px solid #0f4c9b;
            &:active {
                border: none;
                outline: none;
            }
        }
    }

}

div.Form form.RegisterForm{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    min-width: 0px;
    min-height: 0px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;

    & > * {
        overflow: hidden;
    }
    & p.errorMessageP{
        font-size: 16px;
        color: red;
    }
    & input{
        padding: 10px;
        height: 45px;
        width: 100%;
        border: 0px;
        outline: none;
        font-size: 16px;
        border: 1px solid rgba(221, 221, 221, 0.63);
        color: #333b6a;
        background: #fff;
        border-radius: 4px;
    }

    & div{
        margin-top: 5px;
        height: 45px;
        width: 100%;
        border: 0px;
        outline: none;
        padding: 0px;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-column-gap: 10px;

        & button{
            position: relative;
            overflow: hidden;
            border: none;
            height: 42px;
            width: 110px;
            padding: 0px 15px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            background: #0f4c9b;
            color: #fff;
            outline: none;
            &::after{
                position: absolute;
                content: " ";
                height: 250%;
                width: 30%;
                top: 50%;
                left: -60%;
                transform: translateY(-50%) rotate(45deg);
                background: linear-gradient(to right, #fff, rgb(247, 245, 245));
                transition: left .3s ease-in;
            }

            &:hover::after{
                left: 130%;
            }
        }

        & button.Login_link, & button.Register_link{
            font-size: 14px;
            font-weight: 700;
            border: none;
            text-decoration: underline;
            color:#0f4c9b;
            outline: none;
            background: #fff;
            border: 3px solid #0f4c9b;
            &:active {
                border: none;
                outline: none;
            }
        }
    }

}


// changes styles
.ToggleActiveButton{
    position: relative;
    border-bottom: 5px solid #ddd;
    outline: none;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    //color: #0f4b9b;
    color: #333b6a !important;
    transition: color 0.3s ease-in;

    &::after{
        position: absolute;
        bottom: -5px;
        left: 0px;
        content: " ";
        height: 5px;
        width: 0px;
        background:#0f4b9b;
        animation: extendToggleButton 0.3s ease-in forwards;
    }
}

/* ANIMATIONS */
@keyframes colorChange{
    0%{}
    100%{
        color: #333b6a !important;
    }
}
@keyframes extendToggleButton{
    0%{}
    100%{width: 100%}
}
// FIX
.fileUploader{
    justify-content: flex-start !important;
}


// loading component
.loadingLineComponent{
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    //border: 1px solid red;
    & div.loadingLineComponentOuter{
        position: relative;
        overflow: hidden;
        height: 16px;
        width: 150px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid rgba(221, 221, 221, 0.548);
        & div {
            top: 0;
            left: -50%;
            position: absolute;
            height: 100%;
            width: 50%;
            border-radius: 10px;
            background: #0f4c9b;
            animation: lineLoader 1s linear infinite;
        }
    }
}

@keyframes lineLoader{
    0%{
        left: -50%;
    }
    100%{
        left: 110%;
    }
}

//----------------------//
//----------------------//
//----------------------//
//----------------------//
/*-----LOADERS-------------*/
div.LogoTextLoading{
    overflow: hidden !important;
    height: 50px !important;
    border-radius: 4px;
    background: rgba(199, 198, 198, 0.473);
    &::after{
        @include common;
    }
}
div.GraphQLBtnLoader{
    position: relative;
    max-width: 200px;
    width: 300px;
    height: 42px;
    overflow: hidden;
    border-radius: 4px;
    background: rgba(199, 198, 198, 0.473);
    &::after{
        @include common;
    }
}

div.Loader_Information{
    position: relative;
    margin: 40px auto 0px auto;
    width: 100%;
    height: 147px;
    padding: 20px 15px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 3px #ddd;
    //overflow: hidden;

    & div {
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        background: rgba(199, 198, 198, 0.473);

        &::after{
            position: absolute;
            content: " ";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to right, rgba(199, 198, 198, 0.171), rgba(221, 221, 221, 0.151));
            animation: LineSweep 2s ease-in infinite;
        }
    }
    & div.LI_Header{
        max-width: 200px;
        height: 30px;
    }
    & div.LI_Para{
        width: 80%;
        height: 20px;
        margin-top: 5px;
    }

    & div:nth-child(3){
        margin-top: 5px;
    }
}

div.Loader_Toggle{
    margin: 20px auto 0px auto;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid #ddd;
    & div {
        position: relative;
        height: 30px;
        width: 100px;
        justify-self: center;
        align-self: center;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        background: rgba(199, 198, 198, 0.473);

        &::after{
            @include common
        }
    }
}

div.Loader_TopRow{
    overflow: hidden;
    position: relative;
    padding: 15px;
    margin: 20px auto 0px auto;
    width: 100%;
    height: 225px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    align-items: start;
    min-height: 0;
    min-width: 0;
    background: #fff;

    & div{
        border-radius: 4px;
        height: 30px;
        background: rgba(199, 198, 198, 0.473);
    }

    & div.LT_First{
        grid-column: 1/ span 2;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        background: #fff;
        grid-column-gap: 10px;
        & div:nth-child(1){
            position: relative;
            overflow: hidden;
            width: 30px;
            border-radius: 50%;
            &::after{
                @include common;
            }
        }
        & div:nth-child(2){
            width: 100%;
        }
        & div.LTF_Second{
            position: relative;
            overflow: hidden;
            &::after{
                @include common
            }
        }

    }

    & div.LT_Second{
        background: #fff;
        grid-column: 1 / span 2;
        height: 100px;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 30px 30px 30px;
        grid-row-gap: 5px;
        & div{
            width: 40%;
        }

        & div.LTS_PostFirst{
            position: relative;
            overflow: hidden;
            &::after{
                @include common;
            }
        }

        & div.LTS_PostCommon{
            position: relative;
            width: 30px;
            border-radius: 50%;

            &::before {
                position: absolute;
                content: " ";
                width: 200%;
                height: 30px;
                background: inherit;
                left: 120%;
                top: 0px;
                border-radius: 4px;
            }
        }
    }

    & div.LT_Third{
        width: 120px;
        height: 42px;
        position: relative;
        overflow: hidden;

        &::after{
            @include common;
        }
    }
}

ul.Loader_PostCard{
    padding: 0px;
    list-style-type: none;
    margin: 25px auto 100px auto;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-row-gap: 15px;

    & li {
        max-width: 380px;
        justify-self: start;
        align-self: start;
        overflow: hidden;
        background: #fff;
        padding-bottom: 15px;
        width: 100%;
        min-height: 0px;
        min-width:0px;
        height: 320px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        //border: 1px solid rgba(221, 221, 221, 0.712);
        border-radius: 4px;
        border-bottom: 5px solid #ddd;

        & div{
            position: relative;
            overflow: hidden;
            margin-left: 15px;
            border-radius: 4px;
            overflow: hidden;
            background: rgba(199, 198, 198, 0.473);

            &::after{
                @include common;
            }
        }

        & div:nth-child(1){
            margin: 0px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: #ffff;
            &::after{
                @include common;
            }


        }

        & div:nth-child(2){
            margin-top: 5px;
            width: 70%;
            height: 30px;
           
        }

        & div:nth-child(3){
            width: 100px;
            margin-top: 5px;
            height: 15px;
        }
        & div:nth-child(4){
            width: 80%;
            margin-top: 10px;
            height: 30px;
        }

        & div:nth-child(5){
            margin-top: 10px;
            display: grid;
            grid-template-columns: 110px 110px;
            grid-gap: 10px;
            height: 42px;
            background: #fff;
            &::after{
                width:0px;
                height: 0px;
                display:none;
            }
            & div{
                margin: 0px;
                width: 110px;
                height: 42px;
            }
        }
    }
}

@keyframes LineSweep{
    0%{}
    100%{
        left: 100%;
    }
}

@media only screen and (min-width: 576px){
    .information{
        padding: 25px 20px;
    }
    
    .TopRow{
        padding: 25px 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        align-items: center;    
        & div.TopRow_first{
            grid-area: 1/1/2/3;
            display: grid;
            height: auto;
            grid-template-columns: max-content 1fr;
            grid-column-gap: 10px;
            & div.T_first_div{
                & svg {
                    fill: #ffbc21;
                }
            }
    
            & p {
                color: #3a426b;
                color:#0f4c9b;
                font-size: 17px;
                font-weight: 700;
                align-self: center;
            }
        }
        & div.TopRow_second{
            margin-top: 10px;
            height: auto;
            grid-column:  1 /span 2;
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
    
    
            & P {
                //margin-left: 42px;
                margin-left: 0px;
            }
    
            & div.T_RadioFilterDiv{
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns:  20px 100px 20px 100px;
                grid-auto-rows: 1fr;
                align-items: center;
                grid-column-gap: 10px;
                & input {
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                    background: #0f4c9b;
    
                    &::active{
                        color:#0f4c9b;
                        background: #0f4c9b;
                    }
                }
                & label {
                    font-size: 16px;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }    
    }  
}

@media only screen and (min-width: 768px){ 

.NavBar{
    width: 750px;
    height: auto;
    display: grid;
    //background: #1976D2;
    color: rgb(17, 17, 17);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 0px;
    min-width: 0px;
    
    & > *{
        overflow: hidden;
    }
    & div.LogoText{
        position: relative;
        width: 200px;
        height: 70px;
        justify-self: start;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        grid-row-gap: 5px;
        overflow: visible;
    }
}  
div.graphiqlButton{
    //width: 750px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: end;
    align-items: center;
}  
.Information{
        //width: 750px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 0px;
        & h1 {
            padding: 0px;
            font-size: 22px;
            //text-decoration: underline;
            //font-weight: 800;
        }
        & h1.I_h1_2{
            margin-top: 5px;
        }
        & p{
            font-size: 18px;
        }
    }
.Toggle{
    margin: 30px auto 0px auto;
    height: 60px;
    //width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    & button.Toggle_Button{
    }

}

.TopRow{
    //width: 750px;
    padding: 25px 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;    
    & div.TopRow_first{
        grid-area: 1/1/2/3;
        display: grid;
        height: auto;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 10px;
        & div.T_first_div{
            & svg {
                fill: #ffbc21;
            }
        }

        & p {
            color: #3a426b;
            color:#0f4c9b;
            font-size: 18px;
            font-weight: 800;
            align-self: center;
        }
    }

    & div.TopRow_second{
        margin-top: 10px;
        height: auto;
        grid-column:  1 /span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        //grid-row-gap: 10px;
        & P {
            margin-left: 0px;
            font-size: 18px;
            & span {
                font-size: 18px;
            }
        }

        & div.T_RadioFilterDiv{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns:  20px 100px 20px 80px;
            grid-auto-rows: 1fr;
            align-items: center;
            grid-column-gap: 10px;
            justify-content: end;
            & input {
                height: 20px;
                width: 20px;
                cursor: pointer;
                background: #0f4c9b;

                &::active{
                    color:#0f4c9b;
                    background: #0f4c9b;
                }
            }
            & label {
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }   
    // CREATE NEW POST FORM
    div.PostFormContainer{
        grid-column: 1 / span 2;
        height: auto;
        min-height: 200px;
        margin-top: 15px;
        & form{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-row-gap: 10px;
            // common styles;

            & p {
                font-size: 18px;
            }
            & input, & textarea{
                font-size: 18px;
            }
            & textarea{
            }

            & input.fileInput{
                &:active{
                }
                &::before{
                    width: 116px;
                }
            }
            & div.PF_buttonCon{
                display: grid;
                grid-template-columns: min-content max-content;
                grid-template-rows: 1fr;
                grid-column-gap: 10px;
                & button {
                    width: 120px;
                } 
                & button.closeLineBtn{
                    &:hover {
                    }
                }
            }
        }
    } 
}

div.PostCard{
    //width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-column-gap: 15px;
    min-height: 0px;
    min-width:0px;

    & > * {
        overflow: hidden;
    }
    & p.message{
        font-size: 18px;
    }
    & ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 15px;
        width: 100%;
        list-style-type: none;
        & li.PostCard_PostList{
            max-width: 100%;
            justify-self: start;
            align-self: start;
            overflow: hidden;
            background: #fff;
            padding-bottom: 20px;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            //border: 1px solid rgba(221, 221, 221, 0.712);
            border-radius: 4px;
            border-bottom: 5px solid #ddd;
            
            & div.Picture{
                width: 100%;
                height: 160px;
                overflow: hidden;
                border-bottom: 1px solid rgba(221, 221, 221, 0.527);
                & img {
                    max-width: 100%;
                    margin: auto;
                    display: block;
                }
            }   
            & div.PostButtons{
                padding: 0px 20px;
                padding-bottom: 0px;
                display: grid;
                grid-template-columns: max-content max-content;
                grid-column-gap: 10px;
                align-items: center;
    
                & button.PostButtons_button{
                }
    
    
            }
            & div.Description{
                padding: 15px 20px;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                grid-row-gap: 5px;
                & h3 {
                    margin-top: -5px;
                    font-size: 17px;
                    font-weight: 700;
                    color: #0f4c9b;
                    color: #000;
                    color: #333b6a;
                }
                & h1 {
                    font-size: 22px;
                    font-weight: 700;
                    color: #0f4c9b;
                    color: rgba(0, 0, 0, 0.842);
                    color: #333b6a;
                    text-transform: uppercase;
                }
                & p {
                    padding: 0px;
                    margin: 0px;
                    margin-top: 0px;
                    font-size: 18px;
                    font-weight: 400;
                }
                & textarea{
                    border: 0px;
                    outline: none;
                    border: 1px solid rgba(221, 221, 221, 0.63);
                    border-radius: 4px;
                    color: #333b6a;
                    padding: 5px;
                    margin: 0px;
                    margin-top: 0px;
                    font-size: 18px;
                    resize: none;
                    height: auto;
                    width: 100%;
                    min-height: 200px;
                }
            }
    
        }
    }

    & ul.PostCard_secondColumn{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 15px;
        width: 100%;
        list-style-type: none;
        align-items: start !important;
    }    
}

// ACCOUNT //
div.Form{
    margin: 25px auto 150px auto;
    //width: 750px;
    height: auto;
    overflow: hidden; 
    border-radius: 4px;
    padding: 30px 25px;
    background: #fff;  
}

div.alreadyIn{
    margin: 25px auto 150px auto;
    //width: 750px;
    height: auto;
    overflow: hidden; 
    border-radius: 4px;
    padding: 25px 25px;
    background: #fff;
    display: grid;
    grid-template-columns: 200px 120px;
    grid-column-gap: 10px;
    align-items: center;
    & p {
        font-size: 18px;
    }
}

div.Form form.LoginForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;

    & p.errorMessageP{
        font-weight: 400;
        font-size: 18px;
        color: red;
    }
    & input{
        font-size: 18px;
    }
}

div.Form form.RegisterForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;

    & p.errorMessageP{
        font-size: 18px;
    }
    & input{
        font-size: 18px;
    }

}

div.Loader_Information, div.Loader_Toggle, div.Loader_TopRow, ul.Loader_PostCard{
    //width: 750px !important;
}

div.Loader_TopRow{
    height: 185px;
    padding: 25px;

    & div{
        border-radius: 4px;
        height: 30px;
        background: rgba(199, 198, 198, 0.473);
    }

    & div.LT_Second{
        background: #fff;
        grid-column: 1 / span 2;
        height: 30px;
        display: grid;
        grid-template-columns:3fr 1fr 1fr;
        grid-template-rows: 30px;
        grid-column-gap: 5px;
        & div{
            width: 40%;
        }

        & div.LTS_PostFirst{
            position: relative;
            overflow: hidden;
            &::after{
                @include common;
            }
        }

        & div.LTS_PostCommon{
            position: relative;
            width: 30px;
            border-radius: 50%;

            &::before {
                position: absolute;
                content: " ";
                width: 200%;
                height: 30px;
                background: inherit;
                left: 120%;
                top: 0px;
                border-radius: 4px;
            }
        }
    }

    & div.LT_Third{
        width: 120px;
        height: 42px;
        position: relative;
        overflow: hidden;
        &::after{
            @include common;
        }
    }
}

ul.Loader_PostCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-column-gap: 15px;

    & li {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
    }
}

}


@media only screen and (min-width: 900px){

.NavBar{
    width: 850px;
    height: auto;
    display: grid;
    //background: #1976D2;
    color: rgb(17, 17, 17);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 0px;
    min-width: 0px;
    
    & > *{
        overflow: hidden;
    }
    & div.LogoText{
        position: relative;
        width: 200px;
        height: 70px;
        justify-self: start;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        grid-row-gap: 5px;
        overflow: visible;
    }
}  
div.graphiqlButton{
    width: 850px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: end;
    align-items: center;
}      
.Information{
    width: 850px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 0px;
    & h1 {
        padding: 0px;
        font-size: 22px;
        //text-decoration: underline;
        //font-weight: 800;
    }
    & h1.I_h1_2{
        margin-top: 5px;
    }
    & p{
        font-size: 18px;
    }
}
.Toggle{
    margin: 30px auto 0px auto;
    height: 60px;
    width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    & button.Toggle_Button{
    }

}

.TopRow{
    width: 850px;
    padding: 25px 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;    
    & div.TopRow_first{
        grid-area: 1/1/2/3;
        display: grid;
        height: auto;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 10px;
        & div.T_first_div{
            & svg {
                fill: #ffbc21;
            }
        }

        & p {
            color: #3a426b;
            color:#0f4c9b;
            font-size: 18px;
            font-weight: 800;
            align-self: center;
        }
    }

    & div.TopRow_second{
        margin-top: 10px;
        height: auto;
        grid-column:  1 /span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        //grid-row-gap: 10px;
        & P {
            margin-left: 0px;
            font-size: 18px;
            & span {
                font-size: 18px;
            }
        }

        & div.T_RadioFilterDiv{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns:  20px 100px 20px 80px;
            grid-auto-rows: 1fr;
            align-items: center;
            grid-column-gap: 10px;
            justify-content: end;
            & input {
                height: 20px;
                width: 20px;
                cursor: pointer;
                background: #0f4c9b;

                &::active{
                    color:#0f4c9b;
                    background: #0f4c9b;
                }
            }
            & label {
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }   
    // CREATE NEW POST FORM
    div.PostFormContainer{
        grid-column: 1 / span 2;
        height: auto;
        min-height: 200px;
        margin-top: 15px;
        & form{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-row-gap: 10px;
            // common styles;

            & p {
                font-size: 18px;
            }
            & input, & textarea{
                font-size: 18px;
            }
            & textarea{
            }

            & input.fileInput{
                &:active{
                }
                &::before{
                    width: 116px;
                }
            }
            & div.PF_buttonCon{
                display: grid;
                grid-template-columns: min-content max-content;
                grid-template-rows: 1fr;
                grid-column-gap: 10px;
                & button {
                    width: 120px;
                } 
                & button.closeLineBtn{
                    &:hover {
                    }
                }
            }
        }
    } 
}

div.PostCard{
    width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-column-gap: 15px;
    & ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 15px;
        width: 100%;
        list-style-type: none;
        & li.PostCard_PostList{
            max-width: 100%;
            justify-self: start;
            align-self: start;
            overflow: hidden;
            background: #fff;
            padding-bottom: 20px;
            width: 100%;
            min-height: 0px;
            min-width:0px;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            //border: 1px solid rgba(221, 221, 221, 0.712);
            border-radius: 4px;
            border-bottom: 5px solid #ddd;
            & div.Picture{
                width: 100%;
                height: 160px;
                overflow: hidden;
                border-bottom: 1px solid rgba(221, 221, 221, 0.527);
                & img {
                    max-width: 100%;
                    margin: auto;
                    display: block;
                }
            }   
            & div.PostButtons{
                padding: 0px 20px;
                padding-bottom: 0px;
                display: grid;
                grid-template-columns: max-content max-content;
                grid-column-gap: 10px;
                align-items: center;
    
                & button.PostButtons_button{
                }
    
    
            }
            & div.Description{
                padding: 15px 20px;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                grid-row-gap: 5px;
                & h3 {
                    margin-top: -5px;
                    font-size: 17px;
                    font-weight: 700;
                    color: #0f4c9b;
                    color: #000;
                    color: #333b6a;
                }
                & h1 {
                    font-size: 22px;
                    font-weight: 700;
                    color: #0f4c9b;
                    color: rgba(0, 0, 0, 0.842);
                    color: #333b6a;
                    text-transform: uppercase;
                }
                & p {
                    padding: 0px;
                    margin: 0px;
                    margin-top: 0px;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
    
        }
    }  
    & ul.PostCard_secondColumn{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 15px;
        width: 100%;
        list-style-type: none;
        align-items: start !important;
    }   
}

// ACCOUNT //
div.Form{
    margin: 25px auto 150px auto;
    width: 850px;
    height: auto;
    overflow: hidden; 
    border-radius: 4px;
    padding: 30px 25px;
    background: #fff;  
}

div.alreadyIn{
    margin: 25px auto 150px auto;
    width: 850px;
    height: auto;
    overflow: hidden; 
    border-radius: 4px;
    padding: 25px 25px;
    background: #fff;
    display: grid;
    grid-template-columns: 200px 120px;
    grid-column-gap: 10px;
    align-items: center;
    & p {
        font-size: 18px;
    }
}

div.Form form.LoginForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;

    & p.errorMessageP{
        font-weight: 400;
        font-size: 18px;
        color: red;
    }
    & input{
        font-size: 18px;
    }
}

div.Form form.RegisterForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;

    & p.errorMessageP{
        font-size: 18px;
    }
    & input{
        font-size: 18px;
    }

}

div.Loader_Information, div.Loader_Toggle, div.Loader_TopRow, ul.Loader_PostCard{
    width: 850px !important;
}

div.Loader_TopRow{
    height: 185px;
    padding: 25px;

    & div{
        border-radius: 4px;
        height: 30px;
        background: rgba(199, 198, 198, 0.473);
    }

    & div.LT_Second{
        background: #fff;
        grid-column: 1 / span 2;
        height: 30px;
        display: grid;
        grid-template-columns:3fr 1fr 1fr;
        grid-template-rows: 30px;
        grid-column-gap: 5px;
        & div{
            width: 40%;
        }

        & div.LTS_PostFirst{
            position: relative;
            overflow: hidden;
            &::after{
                @include common;
            }
        }

        & div.LTS_PostCommon{
            position: relative;
            width: 30px;
            border-radius: 50%;

            &::before {
                position: absolute;
                content: " ";
                width: 200%;
                height: 30px;
                background: inherit;
                left: 120%;
                top: 0px;
                border-radius: 4px;
            }
        }
    }

    & div.LT_Third{
        width: 120px;
        height: 42px;
        position: relative;
        overflow: hidden;
        &::after{
            @include common;
        }
    }
}
ul.Loader_PostCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-column-gap: 15px;

    & li {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
    }
}

}